@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Courgette&family=Fira+Sans&display=swap');

$fontMain:'Fira Sans', sans-serif;
$secondaryFont:'Anton', sans-serif;

$fontSize:62.5%;

$textXm:1.2rem;
$textLg:2.5rem;
$textMd:1.8rem;
$textSm:1.6rem;


$textBold:700;

$mayuscula:uppercase;

$text-center:center;

