//maps

$fontSizes:(
	'fSize1': 1rem,
	'fSize2': 1.2rem,
	'fSize3': 1.4rem,
	'fSize4': 1.6rem,
	'fSize5': 1.8rem,
	'fSize6': 2rem,
	'fSize7': 2.2rem,
	'fSize8': 2.4rem,
	'fSize9': 2.6rem,
	'fSize10': 2.8rem,
	);

@mixin display1($dispFlex,$flexFlow,$justifyContent){
	display: $dispFlex;
	flex-flow: $flexFlow;
	justify-content: $content-evenly;
}