/*EMPIEZA TABLET*//*EMPIEZA TABLET*//*EMPIEZA TABLET*/
@media only screen and (min-width: 768px) {

#icono {
	padding-left: 20px;
}

nav {
	flex-direction: row;
}


nav {
  	ul{
  		li{
  			a{ 
	  		font-size: $textSm;
	  		}
	  	}	
	  }
}

h1{
	font-size: $textLg;
}

div.cajas__flex {
				p {
				font-size: $textSm;
				}
}

.img__historia {
justify-content: center;
width: $widthTotal;
margin: auto;
}



#redes {
display: $dis-flex;
flex-flow: $flex-row;
margin: 1rem 0.8rem;
}

.cajas__cafe {
width: $widthAuto;
@include display1(flex,row nowrap,space-evenly);
margin: 1rem 0.8rem;
}	

.imagenpie {
max-width: $widthAuto;
height: 400px;
}

.iconos__redes {
max-width: $widthRedesTablet;
max-height: $heightRedesTablet;
}

article.cajas__flex {
					p {
					font-size:$textSm;
					}
}

	h2 {
		font-size: $textMd;
	}
	

.img__consumo {
	width: $widthTotal;
	margin: auto;
}

.img__cafeteras{
	width: $widthTotal;
	margin: auto;
}

.cajas__flex {
	h3 {
	font-size: $textSm;
	}
}

 figcaption {
 	text-align:$text-center;
 	font-weight: 700;
 	font-size:$textMd;
 }

}

@media only screen and (min-width: 1200px) {

	.max-width {
		max-width: 1200px;
		margin: auto;
	}


	 nav {
	 	ul{
	 		li{
	 			a{
	 			font-size: $textSm;
	 			}
	 		}
	 	}   
	  
	}

	.cajas__flex {
		margin: auto;
		flex-flow: $flex-row;
		align-items: center;
		margin-top: 1rem;
	}

	.width-car {
		width: 50%;
	}

	.img__historia {
		width: $widthTotal;
		margin: auto;
	}

	.img__cafeteras{
		transition: all 600ms;
	}

	.img__cafeteras:hover {
		transform: $navtransformAfter;
		}

	.cajas__preparacion {
		width: 50%;
		height: $heightTotal;
		margin: auto;
	}

	section.cajas__flex {
		flex-direction: column;
	}

	header {
		img.header-img1 {
		width: $widthTotal;
		}
	}

	.img__consumo {
		height: 800px;
	}

	#seguir {
		font-size: $textMd;
	}

	#frase {
		font-size: 0.8rem;
		padding-top: 1rem;
	}


	#redes {
		margin-bottom: 1rem;
		padding-right: 10px;
	}


	.cajas__cafe {
 	width: $widthAuto;
 	@include display1(flex,row nowrap,space-evenly);
	margin: 1rem 0.8rem;
 }

 #seguir {
	text-align: $text-center;
}

#frase {
	text-align: $text-center;
}

#redes {
	display: $dis-flex;
}

 #cafefm {
 	padding: 0.2rem;
 }

  #delirante {
 	padding: 0 0.2rem;
 }

  #cafemt {
 	padding: 0.2rem;
 }

  #cafest {
 	padding: 0.2rem;
 }

.img__figure {
	width: 250px;
	transition: all 600ms;
	}

	.img__figure{
	&:hover {
		transform: $navtransformAfter;
	}			
}


.titulo__med {
	font-size: 1.8rem;
}







}