nav {
	top:$topPegado;
	background:$navBackground;
	div{
		ul{
			li{
				padding:$paddingNavBar;
				a{
					text-transform:$mayuscula;
					font-weight: $textBold;
					font-size: map-get($map:$fontSizes,$key:'fSize5');
				}
			}
		}
	}
}

a{
	&::after{
	content: $navContent;
	display: $disBlock;
	height: $heightAnimation;
	background-color: $bg-black;
	transform: $navTransform;
	transform-origin: $navTransformOrigin;
	transition: $navTransition;
	}	
}

a{
	&:hover{
		&::after{
		transform:$navtransformAfter;
		}	
	}
}


header{
	img.header-img {
			max-width:$widthTotal;
	}
}

header{
	img.header-img1 {
			max-width:$widthTotal;
	}
}

header{
	display:$dis-flex;
	max-width:$widthTotal;
}


